/* トップページ読み込み時のCSS */


.start {
	background: rgb(243, 190, 111);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 20%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	/* width: 280px; */
}


@media (max-width: 670px) {
	
	

	.start p img{
		width:100%
	}


	}
	